.header-about {
    display: grid;
    place-items: center;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    min-height: 40vh;
    background-image: url('../img/su.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-about h1 {
    max-width: 25ch;
    text-align: center;
}

.con-about {
    min-height: 100vh;
    margin: 2rem auto;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.con-about .title {text-align: center;}

.con-about .info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.con-about .info .txt-info {
    max-width: 75ch;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.con-about .options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.con-about .options .item-info:hover {
    scale: 1.10;
}

.con-about .options .item-info {
    width: 20vw;
    height: 20vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 200ms ease;
}

.options .liv {background-image: url('../img/liv.jpg');}
.options .klm {background-image: url('../img/klm.jpg');}
.options .werk {background-image: url('../img/werk.jpg');}
.options .fissa {background-image: url('../img/fissa.jpg');}
.options .su {background-image: url('../img/su.jpg');}