.con-ProjectSub {
    min-height: 80vh;
    padding: 2rem;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.con-ProjectSub .txt-project p {
    max-width: 50ch;
}

.con-vid {
    display: grid;
    place-items: center;
}